# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Wake Up
email: adk24211@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Blog with Jekyll
baseurl: "/wakeup" # the subpath of your site, e.g. /blog
permalink: /:categories/:title/
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: 
github_username: adk2421

# Build settings
# theme: wakeup
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

host: 127.0.0.1
port: 4000
encoding: "utf-8"   # 파일 인코딩 설정
# incremental: true   # 변경된 파일만 빌드
livereload: true    # 코드 수정 시 브라우저 자동 새로고침

settings:
  url:
    css: "/assets/css"
    img: "/assets/images"
    js: "/assets/js"

personal:
  profile:
    name: adk2421
    image: profile-image.png
  link:
    github: https://github.com/adk2421/wakeup