<header class="top-bar">
	<div class="nav">
		<div class="site-title">
			<a href="{{ '/' | relative_url }}">{{ site.title }}</a>
		</div>
		<div class="nav-icon">
			<span class="menu-icon"></span>
		</div>
	</div>
	<div class="menu">
		{% for menu in site.data.menu %}
			<div class="menu-box">
				<div class="menu-subject">
					<h3>{{ menu.name }}</h3>
				</div>
				<div class="menu-item-box">
					{% for subMenu in menu.subMenu %}
						<div class="menu-item">{{ subMenu.name }}</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</header>