button {
	padding: 10px 20px;
	cursor: pointer;
}

.button-box {
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

.button_1 {
	background-color: #2c6ca4;
	color: #fdfdfd;
	border: none;
	border-radius: 5px;
}
.button_1:hover {
	background-color: #3686cc;
}

.button_2 {
	color: #333;
	border: none;
	box-shadow: 1px 1px 4px #333;
}
.button_2:active {
	box-shadow: inset 1px 1px 4px #333;
}