@use "variables" as *;
/**
 * Base styles
 */

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $text-color;
	background-color: $bg-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	animation: fade-in 0.4s ease-out;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.menu-bar {
		display: flex;
		flex-direction: column;
		width: 300px;
		min-width: 300px;
		background-color: $bg-color;
		border-right: 1px solid $primary-border;
		user-select: none;
	}

	.page {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		background-color: $bg-color;
	}

	// Tablet Screen
	@media screen and (max-width: 1023px) {
	}

	// Mobile Screen
	@media screen and (max-width: 767px) {
		flex-direction: column;
		min-width: 100%;

		.menu-bar {
			width: auto !important;
			padding: 15px 30px;
			background-color: $bg-middle-color;
			border-bottom: 1px solid $primary-border;

			.nav {
				display: flex !important;
			}

			.menu {
				display: none;
			}
		}
		
		div.hits,
		div.profile {
			display: none;
		}

		.page {
			.content {
				padding: 30px !important;
				justify-content: center;

				.menu-title {
					text-align: center;
				}

				.post {
					justify-content: center;
				}
			}

			.footer {
				padding: 30px !important;
			}
		}
	}
}

.error-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.error-content {
		text-align: center;

		.error-code {
			margin-bottom: 30px;
			font-size: 4em;
			line-height: 1;
			letter-spacing: -1px;
		}
	}
}

.home, .link, .blank {
	cursor: pointer;
}

// Animation
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(-8px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-8px);
	}
}

// Tag
ul {
	margin-left: 30px;

	li {
		margin: 8px 0;
		font-weight: 500;
	}
}

ol {
	margin-left: 30px;

	li {
		margin: 8px 0;
		font-weight: 500;
		
		&::marker {
			margin-right: 8px;
			font-weight: 500;
		}
	}
}