// Variables

$classic-blue: #0f4c81;
$white: #fff;

$primary-color: $classic-blue;
$secondary-color: #7eaad2;
$tertiary-color: #0086B3;

$primary-light: #efefef;
$secondary-light: #fdfdfd;

$text-color: #333333;
$text-middle-color: #666666;
$text-light-color: #999999;

$bg-color: #fdfdfd;
$bg-middle-color: #f2f2f2;
$bg-dark-color: #e4e4e4;

$primary-border: #d6d6d6;
$secondary-border: #dfdfdf;
$tertiary-border: #8e8e8e;

$primary-btn-active: $primary-color;
$primary-btn-active-text: $primary-light;
$primary-btn-hover: $secondary-color;
$primary-btn-hover-text: $secondary-light;

$primary-text-hover: #066cc5;

$marker-orange: #ffdc8c;

