:root {
	--classic-blue: #0f4c81;

	--primary-color: var(--classic-blue);
	--primary-light: #efefef;

	--secondary-color: #7eaad2;
	--secondary-light: #fdfdfd;

	--text-color: #333333;
	--text-middle-color: #666666;
	--text-light-color: #999999;

	--bg-color: #fdfdfd;
	--bg-middle-color: #f2f2f2;
	--bg-dark-color: #e4e4e4;

	--primary-border: #d6d6d6;
	--secondary-border: #dfdfdf;

	--primary-btn-active: var(--primary-color);
	--primary-btn-active-text: var(--primary-light);
	--primary-btn-hover: var(--secondary-color);
	--primary-btn-hover-text: var(--secondary-light);

	--primary-text-hover: #066cc5;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--text-color);
	background-color: var(--bg-color);
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

.container {
	display: flex;
}

.container .menu-bar {
	background-color: var(--bg-color);
	border-right: 1px solid var(--primary-border);
	user-select: none;
}

.container .page {
	width: 100%;
	background-color: var(--bg-color);
}

/* Tablet Screen */
@media screen and (max-width: 1023px) {

}

/* Mobile Screen */
@media screen and (max-width: 767px) {
	.container {
		flex-direction: column;
		min-width: 100%;
	}

	.container .side-bar {
		display: none;
	}

	.container .top-bar {
		display: block !important;
	}

	.container .page .content {
		padding: 30px !important;
		justify-content: center;
	}

	.container .page .content .menu-title {
		text-align: center;
	}

	.container .page .content .post {
		justify-content: center;
	}
}