:root {
	--primary-color: #6da3d4;
	--primary-light: #efefef;

	--secondary-color: #307fca;

	--text-color: #333333;
	--bg-color: #fdfdfd;

	--primary-border: #d6d6d6;
	--secondary-border: #dfdfdf;

	--primary-btn-hover: var(--primary-color);
	--primary-btn-hover-text: var(--primary-light);

	--primary-text-hover: var(--secondary-color);
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--text-color);
	background-color: var(--bg-color);
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

.container {
	display: flex;
}

.container .sidebar {
	width: 300px;
	min-width: 300px;
	border-right: 1px solid var(--primary-border);
	user-select: none;
}

.container .sidebar div {}

.container .sidebar div.profile {
	padding: 40px 70px 25px 70px;
	border-bottom: 1px solid var(--primary-border);
}

.container .sidebar div.profile .profile-image {
	margin-bottom: 5px;
}

.container .sidebar div.profile .profile-image img {
	width: 100%;
}

.container .sidebar div.profile .profile-name {
	margin-bottom: 20px;
	text-align: center;
}

.container .sidebar div.profile .profile-name p {
	font-size: 22px;
	font-weight: 500;
}

.container .sidebar div.profile .profile-link {
	display: flex;
	justify-content: center;
}

.container .sidebar div.profile .profile-link a {
	width: 25px;
	height: 25px;
	margin: 0 4px;
	cursor: pointer;
}

.container .sidebar div.profile .profile-link a:hover {
	filter: opacity(0.6);
}

.container .menu {
	padding: 20px 20px;
}

.container .menu div.menu-box {
	margin-bottom: 5px;
}

.container .menu div.menu-box::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--secondary-border);
	margin-top: 5px;
}

.container .menu div.menu-box .menu-all,
.container .menu div.menu-box .menu-subject {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.container .menu div.menu-box .menu-subject::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 7px;
	margin-left: 20px;
	background-image: url("../images/icon/down-icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.container .menu div.menu-box .menu-all:hover,
.container .menu div.menu-box .menu-all.active,
.container .menu div.menu-box .menu-subject:hover,
.container .menu div.menu-box .menu-subject.active {
	background-color: var(--primary-btn-hover);
	color: var(--primary-btn-hover-text);
}

.container .menu div.menu-box .menu-subject:hover::after,
.container .menu div.menu-box .menu-subject.active::after {
	filter: invert(1);
}

.container .menu div.menu-box .menu-subject h3 {
	word-break: break-all;
}

.container .menu div.menu-box .menu-item-box {
	display: none;
	flex-direction: column;
	padding: 5px 20px;
	animation: fade-in 0.4s ease-out;
}

.container .menu div.menu-box .menu-item-box .menu-item {
	padding: 8px 5px;
	font-size: 18px;
	font-weight: 500;
    cursor: pointer;
}

.container .menu div.menu-box .menu-item-box .menu-item:hover {
	color: var(--primary-text-hover);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}