.container .sidebar {
	width: 300px;
	min-width: 300px;
	border-right: 1px solid var(--primary-border);
	user-select: none;
}

.container .sidebar div.hits {
	padding: 12px 15px 25px 15px;
    float: right;
}

.container .sidebar div.profile {
	padding: 40px 70px 25px 70px;
	border-bottom: 1px solid var(--primary-border);
}

.container .sidebar div.profile a {
	text-decoration: none;
	color: var(--text-color);
}

.container .sidebar div.profile a:hover {
	filter: opacity(0.6);
}

.container .sidebar div.profile .profile-image {
	margin-bottom: 5px;
}

.container .sidebar div.profile .profile-image img {
	width: 100%;
	border-radius: 250px;
	box-shadow: 1px 1px 8px #7f7f7f;
}

.container .sidebar div.profile .profile-name {
	margin-bottom: 20px;
	text-align: center;
}

.container .sidebar div.profile .profile-name p {
	font-size: 22px;
	font-weight: 500;
}

.container .sidebar div.profile .profile-link {
	display: flex;
	justify-content: center;
}

.container .sidebar div.profile .profile-link a {
	width: 25px;
	height: 25px;
	margin: 0 4px;
	cursor: pointer;
}

.container .menu {
	padding: 20px 20px;
}

.container .menu div.menu-box {
	margin-bottom: 5px;
}

.container .menu div.menu-box::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--secondary-border);
	margin-top: 5px;
}

.container .menu div.menu-box .menu-all,
.container .menu div.menu-box .menu-subject {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.1s;
}

.container .menu div.menu-box .menu-subject::after {
	content: "";
	display: inline-block;
	width: 10px;
	min-width: 10px;
	height: 7px;
	margin-left: 20px;
	background-image: url("../images/icon/down-icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.container .menu div.menu-box .menu-all:hover,
.container .menu div.menu-box .menu-subject:hover {
	background-color: var(--primary-btn-hover);
	color: var(--primary-btn-hover-text);
}

.container .menu div.menu-box .menu-all.active {
	background-color: var(--primary-btn-active);
	color: var(--primary-btn-active-text);
}

.container .menu div.menu-box .menu-subject:hover::after {
	filter: invert(1);
}

.container .menu div.menu-box .menu-subject.active::after {
	background-image: url("../images/icon/up-icon.png");
}

.container .menu div.menu-box .menu-subject h3 {
	word-break: break-all;
}

.container .menu div.menu-box .menu-item-box {
	display: none;
	flex-direction: column;
	padding: 5px 20px;
}

.container .menu div.menu-box .menu-item-box.visible {
	animation: fade-in 0.4s ease-out;
}

.container .menu div.menu-box .menu-item-box.invisible {
	animation: fade-out 0.4s ease-out;
}

.container .menu div.menu-box .menu-item-box .menu-item {
	padding: 8px 10px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.container .menu div.menu-box .menu-item-box .menu-item:hover,
.container .menu div.menu-box .menu-item-box .menu-item.active {
	color: var(--primary-text-hover);
	font-weight: 700;
	transform: translateX(-8px);
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(-8px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-8px);
	}
}