/**
 * Page styles
 */

.container .page .content {
	height: 100%;
	padding: 60px 80px;
	background-color: #fbfbfb;
}

.container .page .content .index {
	height: 100%;
}

.container .page .content .index .menu-title {
	margin-bottom: 15px;
	font-size: 1.8em;
}

.container .page .content .index .post {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.container .page .content .index .post .empty-post {
	width: 100%;
	padding: 10vh 0;
    text-align: center;
	font-size: 1.8em;
}

.container .page .content .index .post .post-card {
	width: 280px;
	padding: 35px;
	margin: 20px;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 1px 1px 6px #a4a4a4;
	transition: 0.4s;
}

.container .page .content .index .post .post-card:hover {
	box-shadow: 2px 2px 10px #646464;
	transform: translateY(-8px);
}

.container .page .content .index .post .post-card .post-thumbnail {
	width: 280px;
	height: 200px;
	align-content: center;
	border: 1px solid #cfcfcf;
	border-radius: 6px;
}

.container .page .content .index .post .post-card .post-thumbnail img {
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
	object-fit: cover;
	object-position: center;
	border-radius: 6px;
}

.container .page .content .index .post .post-card .post-info {
	padding-top: 15px;
}

.container .page .content .index .post .post-card .post-category {
    width: fit-content;
    padding: 1.5px 6px;
    border-radius: 4px;
    font-size: 0.7em;
    background-color: #6995be;
    color: #fdfdfd;
}

.container .page .content .index .post .post-card .post-info .post-title {
	font-size: 1.2em;
	margin-top: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container .page .content .index .post .post-card .post-info .post-meta {
	margin-bottom: 15px;
	font-size: 0.8em;
	color: var(--text-middle-color);
}

.container .page .content .index .post .post-card .post-info .post-meta > .icon {
	fill: var(--text-color);
	vertical-align: middle;
	margin-right: 2px;
}

.container .page .content .index .post .post-card .post-info .post-short-content {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8em;
	color: var(--text-middle-color);
}

.container .page .footer {
	padding: 60px 80px;
	background-color: var(--bg-dark-color);
	border-top: 1px solid var(--primary-border);
}

.container .page .footer .footer-title {
	font-size: 1.8em;
	margin-bottom: 20px;
}

.container .page .footer .footer-info {
	display: flex;
	margin-bottom: 8px;
}

.container .page .footer .footer-info a {
	text-decoration: none;
	color: var(--primary-text-hover);
}

.container .page .footer .footer-info .footer-box {
	flex: 1;
}

.container .page .footer .footer-info .footer-box > div {
	padding: 3px 2px;
}

.container .page .footer .footer-desc {
	padding-top: 8px;
    border-top: 3px solid #b8b8b8;
	color: var(--text-middle-color);
}

/* Single Page */
.single-page {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.single-page .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid var(--primary-border);
}

.single-page .nav .back {
	align-content: center;
	padding: 15px 25px;
	cursor: pointer;
}

.single-page .nav .back:hover {
	opacity: 0.5;
}

.single-page .nav .back .site-title {
	display: flex;
	align-items: center;
	font-size: 1.4em;
	font-weight: 700;
}

.single-page .nav .back .site-title::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-image: url("../images/icon/left-icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.single-page .nav .page-title {
	padding: 0 30px;
	color: var(--primary-color);
	font-size: 1.5em;
	font-weight: 800;
}

.single-page .page-content {
	background-color: #f7f7f7;
}

.single-page .page-content .center {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 100%;
}