/**
 * Post styles
 */

.container .page .content .post {}

.container .page .content .post .empty-post {
	width: 100%;
	padding: 10vh 0;
    text-align: center;
	font-size: 24px;
}

.container .page .content .post .post-header {
	margin-bottom: 40px;
}

.container .page .content .post .post-header .post-title {
	font-size: 36px;
	line-height: 1.7;
}

.container .page .content .post .post-header .post-meta {
	font-weight: 500;
	color: var(--text-light-color);
}

.container .page .content .post .post-header .post-meta .icon {
	margin-right: 3px;
}

.container .page .content .post .post-header .post-meta .separator {
	margin: 0 5px;
}

.container .page .content .post .post-content {
	
}

.container .page .content .post .post-content p {
	margin-bottom: 20px;
	letter-spacing: -0.3px;
}

.container .page .content .post .post-content p img {
	max-width: 100%;
}

.container .page .content .post .post-content p a {
	font-weight: 800;
	color: var(--primary-color);
}

.container .page .content .post .post-content p a:hover {
	color: var(--secondary-color);
}

.container .page .content .post .post-content ul li a {
	font-weight: 800;
	color: var(--primary-color);
}

.container .page .content .post .post-content ul li a:hover {
	color: var(--secondary-color);
}

.post-content {
	margin-bottom: 30px;
}

.post-content h1 {
	font-size: 38px;
	margin: 40px 0 6px 0;
}

.post-content h2 {
	font-size: 32px;
	margin: 40px 0 6px 0;
}

.post-content h3 {
	font-size: 26px;
	margin: 40px 0 6px 0;
}

.post-content h4 {
	font-size: 20px;
	margin: 40px 0 6px 0;
}

.post-content figure, pre, code {
	font-family: "RobotoMono Variable";
}

.post-content figure {
	padding: 15px 25px;
	margin-bottom: 20px;
	border: 1px solid var(--tertiary-border);
	border-radius: 4px;
}

.post-content figure pre {
	display: flex;
	white-space: pre-wrap;
	overflow-x: auto;
	tab-size: 4;
}

.post-content figure pre.lineno {
	padding-right: 12px;
	margin-right: 15px;
	border-right: 3px solid var(--secondary-border);
	user-select: none;
}

.post-content figure pre code {
	flex-shrink: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.5px;
}

.post-content figure pre code .rouge-table td.code pre {
	display: block;
	flex-shrink: 0;
}

.post-content code.language-plaintext {
	font-size: 14px;
	font-weight: 400;
	padding: 1px 6px;
	border-radius: 4px;
	color: var(--primary-light);
	background-color: var(--tertiary-color);
}

/* font style */
.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.primary-color {
	color: var(--primary-color);
}

.bold {
	font-weight: 800;
}

.marker {
	padding: 2px 4px;
	background-color: var(--marker-orange);
	font-weight: 600;
}

/* view-code-box */
.view-code-box {
	display: flex;
	margin: 10px 0;
	border: 1px solid var(--tertiary-border);
	border-radius: 4px;
}

.view-code-box div div.box-title {
	display: flex;
	align-items: center;
	padding: 8px 14px;
	background-color: #efefef;
	border-bottom: 1px solid var(--secondary-border);
	text-align: left;
	font-weight: 500;
	user-select: none;
}

.view-code-box div div.box-title::before {
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	margin: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

.view-code-box div.view-box div.box-title {
	border-radius: 4px 0 0 0;
}

.view-code-box div.code-box div.box-title {
	border-radius: 0 4px 0 0;
}

.view-code-box .view-box {
	width: 30%;
	border-right: 1px solid var(--tertiary-border);
}

.view-code-box .view-box .box-title::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='22px' fill='%231f1f1f'%3E%3Cpath d='M240-120v-80l40-40H160q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v440q0 33-23.5 56.5T800-240H680l40 40v80H240Zm-80-200h640v-440H160v440Zm0 0v-440 440Z'/%3E%3C/svg%3E");
}

.view-code-box .code-box {
	width: 70%;
}

.view-code-box .code-box .box-title::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z'/%3E%3C/svg%3E");
}

.view-code-box .code-box .code-box-content figure {
	margin: 0;
	border: none;
}

/* flow */
.flow {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-size: 16px;
	overflow-x: auto;
}

.flow .flow-box {
	flex-shrink: 0;
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: 2px 2px 8px #b2b2b2;
}

.flow .flow-box .flow-title {
	padding: 12px 20px;
	border-radius: 10px 10px 0 0;
	background-color: var(--primary-color);
	color: var(--primary-light);
	font-weight: 700;
	text-align: center;
}

.flow .flow-box .flow-content {
	padding: 12px 20px;
	text-align: center;
}

.flow .flow-box .flow-content p {
	margin: 0 !important;
	line-height: 2;
}

.flow .flow-separator {
	padding: 15px;
	font-size: 20px;
	align-content: center;
}