/**
 * Post styles
 */

hr { margin-bottom: 10px; border: 1px solid #ccd3db; }
p { letter-spacing: -0.2px; }
a { font-weight: 800; color: var(--primary-color); }
a:hover { color: var(--secondary-color); }
ul, ol { margin-left: 30px; }
li { margin: 8px 0; font-weight: 500; }
li::marker { margin-right: 8px; font-weight: 500; }
li a { font-weight: 800; color: var(--primary-color); }
li a:hover { color: var(--secondary-color); }
img { max-width: 100%; }
blockquote { padding: 20px 25px 10px 25px; margin-bottom: 10px; background-color: var(--light-blue-gray); border: 1px solid #dee4ea; border-radius: 5px; max-width: 100%; overflow-x: auto; }
blockquote blockquote { filter: brightness(95%); }
div.highlighter-rouge { padding-bottom: 10px; }
div.highlighter-rouge .highlight { background-color: var(--secondary-light); padding: 2px 10px; border-radius: 4px; filter: brightness(100%); }
figure, pre, code {	font-family: "RobotoMono Variable"; }
figure { padding: 15px 25px; margin-bottom: 20px; border: 1px solid var(--tertiary-border);	border-radius: 4px; }
pre { display: flex; white-space: pre-wrap; overflow-x: auto; tab-size: 4; }
pre.lineno { padding-right: 12px; margin-right: 15px; border-right: 3px solid var(--secondary-border); user-select: none; }
code { flex-shrink: 0; font-size: 0.9em; font-weight: 500; letter-spacing: -0.5px; }
code.language-plaintext { font-size: 0.85em; font-weight: 400; padding: 1px 6px; border-radius: 4px; background-color: var(--blue-gray); }
code .rouge-table td.code pre { display: block;	flex-shrink: 0; }
table { margin-bottom: 10px; border-collapse: collapse; }
thead, tbody, tr { width: 100%; }
thead tr { background-color: var(--blue-gray); }
tbody tr { background-color: var(--secondary-light); }
th, td { padding: 5px 10px; border: 1px solid #c5c5c5; text-align: left; font-size: 0.9em; }
dl { margin-bottom: 10px; }
dt { font-size: 1.1em; font-weight: 700; }
dd { margin: 4px 0 0 15px; }
dd dt { font-size: 1em; }
dd dd::before { content: "↳"; margin-right: 4px; }

.post-content p { margin-bottom: 10px; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { margin: 0 0 5px 2px; }

/* font style */
.fs-20 { font-size: 20px; }
.primary-color { color: var(--primary-color); }
.bold { font-weight: 800; }
.marker { padding: 2px 4px; background-color: var(--marker-orange); font-weight: 600; }

/* white space */
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }

.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-50 { padding-bottom: 50px; }

/* post */
.post {}

.post .post-breadcrumb {
	display: flex;
	align-items: center;
}

.post .post-breadcrumb span {
	padding: 1px 6px;
	font-size: 0.85em;
}

.post .post-breadcrumb span.home,
.post .post-breadcrumb span.link {
	background-color: #6995be;
	color: #fdfdfd;
	border-radius: 4px;
}

.post .post-breadcrumb span.home:hover,
.post .post-breadcrumb span.link:hover {
	background-color: #436688;
}

.post .post-header {
	margin-bottom: 40px;
}

.post .post-header .post-title {
	padding: 5px 0;
	font-size: 1.8em;
	line-height: 1.3;
}

.post .post-header .post-meta {
	font-weight: 500;
	color: var(--text-light-color);
}

.post .post-header .post-meta .icon {
	margin-right: 3px;
}

.post .post-header .post-meta .separator {
	margin: 0 5px;
}

.post .post-content {
	overflow: auto;
	margin-bottom: 30px;
}

.post .post-content img {
	max-width: 100%;
    max-height: 100%;
    margin: 5px 0 15px 0;
}

.post .post-content .caption {
	position: relative;
	top: -22px;
	margin-left: 4px;
	font-size: 0.75em;
	color: var(--text-middle-color);
}

.post .post-content .caption a {
	font-weight: 400;
	color: var(--text-middle-color);
}

.post .post-content .caption a:hover {
	color: var(--text-light-color);
}

.post .post-content .item-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* view-code-box */
.view-code-box {
	display: flex;
	margin: 10px 0;
	border: 1px solid var(--tertiary-border);
	border-radius: 4px;
}

.view-code-box div div.box-title {
	display: flex;
	align-items: center;
	padding: 8px 14px;
	background-color: #efefef;
	border-bottom: 1px solid var(--secondary-border);
	text-align: left;
	font-weight: 500;
	user-select: none;
}

.view-code-box div div.box-title::before {
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	margin: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

.view-code-box div.view-box div.box-title {
	border-radius: 4px 0 0 0;
}

.view-code-box div.code-box div.box-title {
	border-radius: 0 4px 0 0;
}

.view-code-box .view-box {
	width: 30%;
	border-right: 1px solid var(--tertiary-border);
}

.view-code-box .view-box .box-title::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='22px' fill='%231f1f1f'%3E%3Cpath d='M240-120v-80l40-40H160q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v440q0 33-23.5 56.5T800-240H680l40 40v80H240Zm-80-200h640v-440H160v440Zm0 0v-440 440Z'/%3E%3C/svg%3E");
}

.view-code-box .code-box {
	width: 70%;
}

.view-code-box .code-box .box-title::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z'/%3E%3C/svg%3E");
}

.view-code-box .code-box .code-box-content figure {
	margin: 0 !important;
	border: none !important;
}

/* flow */
.flow {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-size: 0.9em;
	overflow-x: auto;
}

.flow .flow-box {
	flex-shrink: 0;
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: 2px 2px 8px #b2b2b2;
}

.flow .flow-box .flow-title {
	padding: 12px 20px;
	border-radius: 10px 10px 0 0;
	background-color: var(--primary-color);
	color: var(--primary-light);
	font-weight: 700;
	text-align: center;
}

.flow .flow-box .flow-content {
	padding: 12px 20px;
	text-align: center;
}

.flow .flow-box .flow-content p {
	margin: 0 !important;
	line-height: 2;
}

.flow .flow-separator {
	padding: 15px;
	font-size: 1.3em;
	align-content: center;
}