.search-form {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.search-form .search-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em;
}

/* Mobile, Tablet Screen */
@media screen and (max-width: 1023px) {
	.search-form {
		flex-direction: column;
	}

	.search-form .search-box {
		width: auto !important;
	}
}

.search-form .search-box h2 {
	margin-right: 0.9em;
	text-align: right;
}

.search-form .search-box .keyword-box {
	position: relative;
	min-width: 50%;
}

.search-form .search-box .keyword-box .keyword {
	box-sizing: border-box;
	width: 100%;
	padding: 0.7em 0.9em;
	font-size: 1.1em;
}

/* Mobile, Tablet Screen */
@media screen and (max-width: 1023px) {
	.search-form .search-box .keyword-box .keyword {
		font-size: 0.9em;
	}
}

.search-form .search-box .keyword-box .auto-complete {
	display: none;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #c1c1c1;
	border-top: none;
	background-color: var(--bg-color);
	font-size: 1.1em;
	color: var(--text-middle-color);
	z-index: 1;
}

.search-form .search-box .keyword-box .auto-complete .term-empty {
	padding: 0.7em 0.9em;
}

.search-form .search-box .keyword-box .auto-complete .term-title {
	padding: 0.7em 0.9em;
	border-bottom: 1px solid #c1c1c1;
	cursor: pointer;
}

.search-form .search-box .keyword-box .auto-complete .term-title:hover {
	background-color: var(--blue-gray);
	color: var(--text-color);
}

.search-form .search-box .keyword-box .auto-complete .term-title:last-child {
	border-bottom: none;
}

.term-list {
	padding: 0 8% 8em 8%;
	user-select: text;
}

.term-list .term-box {
	padding: 1.5em 1em;
	border-top: 1px solid #c1c1c1;
}

.term-list .term-box:last-child {
	border-bottom: 1px solid #c1c1c1;
}

.term-list .term-box .term-title {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 0.2em;
}