.monitor {
	padding: 15px;
	margin: 20px;
	background: #f6f3ec;
	border: 2px solid #cacaca;
	border-radius: 10px;
}

.monitor .log {
	width: 60vw;
	height: 240px;
	padding: 15px 20px;
	background: #444;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	color: #e9e9e9;
}

.monitor .log .cursor {
	width: 5px;
	height: 20px;
	background: #e9e9e9;
	animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.monitor .mark {
	display: flex;
    align-items: center;
    justify-content: center;
	padding-top: 15px;
}

.monitor .mark img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.monitor .mark span {
	font-size: 13px;
	font-weight: 700;
}

.keyboard {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 15px;
	margin: 20px;
	background: linear-gradient(to right, #ececec, #fafafa, #ececec);
	border: 1px solid #cdcdcd;
	border-radius: 10px;
	box-shadow: inset 0 0 12px #f3f3f3, 0 12px 0 #bbb, 4px 12px rgba(0, 0, 0, 0.2), -4px 12px rgba(0, 0, 0, 0.2);
	overflow-x: auto;
}

.keyboard .line {
	display: flex;
}

.keyboard .line.key-mb-0 * {
	margin-bottom: 0px !important;
}

.keyboard .line.key-mt-0 * {
	margin-top: 0px !important;
}

.keyboard .key {
	position: relative;
	top: 0;
	width: 55px;
	height: 50px;
	align-content: center;
	text-align: center;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	margin: 5px 4px;
	background-color: #f5f5f5;
	font-size: 15px;
	font-weight: 700;
	box-shadow: 0 6px 0 #bbb, 0 8px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	user-select: none;
	transition: all 0.1s ease;
}

.keyboard .key:hover {
	background-color: #f9f9f9;
}

.keyboard .key:active {
	top: 4px;
	box-shadow: 0 2px 0 #bbb, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.keyboard .key.active {
	top: 4px;
	background-color: #5a98d3 !important;
	box-shadow: 0 2px 0 #bbb, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.keyboard .key.knob {
	margin-top: 0;
	border-radius: 100px;
	box-shadow: 0 12px 0 #bbb, 0 14px 10px rgba(0, 0, 0, 0.2);
}

.keyboard .key.knob:hover {
	background-color: #f9f9f9;
}

.keyboard .key.knob:active {
	top: 3px;
	box-shadow: 0 10px 0 #bbb, 0 8px 6px rgba(0, 0, 0, 0.2);
}

.keyboard .key.knob.active {
	top: 3px;
	background-color: #5a98d3 !important;
	box-shadow: 0 10px 0 #bbb, 0 8px 6px rgba(0, 0, 0, 0.2);
}

.keyboard .key.check {
	background-color: #666666;
    color: #efefef;
}

.keyboard .key.merge-top {
	height: 61px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
	align-content: end;
}

.keyboard .key.merge-bottom {
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.keyboard .lcd {
	display: flex;
	position: relative;
	top: 0;
	width: 84px;
	height: 46px;
	align-content: center;
	border: 5px solid #9ba1a9;
	border-radius: 4px;
	margin: 5px 4px;
	background-color: #938f83;
	box-shadow: inset 2px 2px 4px #000000, inset 4px 4px 2px #43423c, inset -2px -2px 4px #43423c;
	user-select: none;
	transition: all 0.1s ease;
}

.keyboard .lcd img {
	filter: grayscale(1);
	opacity: 0.5;
}

.w-80 {
	width: 80px !important;
}

.w-90 {
	width: 90px !important;
}

.w-105 {
	width: 105px !important;
}

.w-120 {
	width: 120px !important;
}

.w-137 {
	width: 137.5px !important;
}

.w-395 {
	width: 395px !important;
}

.h-105 {
	height: 105px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.mr-60 {
	margin-right: 60px !important;
}

.mr-85 {
	margin-right: 85px !important;
}

.mr-93 {
	margin-right: 93px !important;
}

.mr-177 {
	margin-right: 177px !important;
}

.mr-235 {
	margin-right: 235px !important;
}